.myHeading {
    color: red;
  }

  /* .secondUlClass{
      display: none;
      color: aquamarine;
  } */

  /* .mystyle {
    width: 100%;
    padding: 25px;
    background-color: coral;
    color: white;
    font-size: 25px;
    box-sizing: border-box;
    
  } */

